# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy Node.js app to Azure Web App - codepush-real

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read # This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'

      - name: npm install, build, and test (in /api)
        working-directory: api
        run: |
          npm ci
          npm run build --if-present
          npm run test --if-present

      - name: Zip artifact (api only)
        run: |
          cd api
          zip -r ../api.zip .
          cd ..
          ls -la api.zip

      - name: Upload artifact for deployment job (api.zip)
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: api.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write # This is required for requesting the JWT
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: node-app
          path: .

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_5906B0852902497E877F47D074F3310C }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_76632E834E064F5EAD965DFD63998C60 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_58719DCD14E04EEA97ECA51E5225894B }}

      - name: Deploy to Azure Web App (api.zip)
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'codepush-real'
          slot-name: 'Production'
          package: api.zip
